.movie-card{
    display: flex;
    flex-direction: row;
    width: 454px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
    list-style: none;
}

.movie-card__image{
    height: 350px;
    width: 183px;
    object-fit: fill;
}

.movie-card__info{
    display: flex;
    position: relative;
    flex-direction: column;

    padding: 0 20px;
}

.movie-card__name{
    padding-right: 2rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: black;

    margin: 12px 0 7px 0;
}

.movie-card__date{
    margin-bottom: 7px;

    font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        color: #827E7E;
}

.movie-card__tags{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 7px;
}

.tag__name{
    display: flex;
    justify-content: center;
    box-sizing: border-box;    

       
    padding: 0 5px;
    height: 20px;
        
    
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    border-radius: 2px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    
    
    color: rgba(0, 0, 0, 0.65);
}
.movie-card__description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 0.7rem;
}


.ant-rate{
    position: absolute;
    bottom: 12px;
    left: 20px;
}

.movie-card__vote{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 12px;
    right: 9px;
    width: 35px;
    height: 35px;
    border-radius: 50%;

    font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 29px;
}

.red{
    border: 2px solid #E90000;
}

.orange{
    border: 2px solid #E97E00;
}

.yellow{
    border: 2px solid #E9D100
}

.green{
    border: 2px solid #66E900
}